{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gridx - Personal Portfolio HTML Template</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'cdn.jsdelivr.net/gh/iconoir-icons/iconoir%40main/css/iconoir.css'  %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style-light.css' %}">
</head>
<body>

    <main class="main-homepage">

        <!-- Header -->
        <header class="header-area">
            <div class="container">
                <div class="gx-row d-flex align-items-center justify-content-between">
                    <a href="index.html" class="logo">
                        <img src="{% static 'assets/images/logo-dark.svg' %}" alt="Logo">
                    </a>

                    <nav class="navbar">
                        <ul class="menu">
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'works' %}">Works</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                        <a href="{% url 'contact' %}" class="theme-btn">Let's talk</a>
                    </nav>

                    <a href="{% url 'contact' %}" class="theme-btn">Let's talk</a>

                    <div class="show-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
  
    {% block content %}

    {% endblock %}
  
        

        <!-- Footer -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-content text-center">
                    <a href="index.html" class="logo">
                        <img src="{% static 'assets/images/logo-dark.svg' %}" alt="Logo">
                    </a>
                    <ul class="footer-menu">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'works' %}">Works</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <p class="copyright">
                        &copy; All rights reserved by <span>WordPress River</span>
                    </p>
                </div>
            </div>
        </footer>

    </main>
    
    
    <script src="{% static 'assets/js/jquery-3.6.4.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>